# Project Description

In [32]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

# Import package

In [30]:
import pandas as pd
import numpy as np

# Pandas

## Import Files

In [9]:
file_directory ='C:/Users/Wen Lin Tan/Downloads/python/Capstone/Data-Collisions.csv'
df = pd.read_csv(file_directory, sep=',', error_bad_lines=False, index_col=False, dtype='unicode')

In [10]:
df.head(5)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.3231484,47.70314032,1,1307,1307,3502005,Matched,Intersection,37475,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.3472943,47.64717249,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.33454,47.60787143,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031,NaN,32,One parked--one moving,0,0,N
3,1,-122.3348033,47.60480289,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.3064263,47.54573946,5,17700,17700,1807429,Matched,Intersection,34387,...,Wet,Daylight,NaN,4028032,NaN,10,Entering at angle,0,0,N

## Week 1 Quiz

### Number of attributes

In [14]:
len(df.columns)

38

### How many empty elements in ROADCOND?

In [29]:
df['ROADCOND'].isnull().sum()

5012

### Is the data balanced?

In [22]:
df['SEVERITYCODE'].value_counts()

1    136485
2     58188
Name: SEVERITYCODE, dtype: int64